version: '3.8'
services:
  postgres:
    image: pgvector/pgvector:pg18
    container_name: duetgpt-postgres
    environment:
      POSTGRES_DB: duetgpt
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1Zaqwsx2
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./db-backup:/docker-entrypoint-initdb.d
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
