@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using duetGPT.Data
@using DevExpress.Blazor
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext Context

<div id="sidebar">
    <DxGridLayout CssClass="page-layout" RowSpacing="1.5rem">
        <Rows>
            <DxGridLayoutRow Areas="header menu-button" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="navigation navigation"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="footer footer" Height="auto"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn></DxGridLayoutColumn>
            <DxGridLayoutColumn Width="auto"></DxGridLayoutColumn>
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="sidebar-header">
                <Template>
                    <span class="logo" style="color: white; font-size: larger; font-weight: bold;">BCH bv</span>
                </Template>
                <Template>
                    <div class="menu-button" onclick="document.getElementById('sidebar').classList.toggle('expanded')"></div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="navigation" CssClass="layout-item">
                <Template>
                    <div onclick="document.getElementById('sidebar').classList.remove('expanded')">
                        <DxMenu Orientation="Orientation.Vertical" CssClass="menu">
                            <Items>
                               <DxMenuItem NavigateUrl="/claude" Text="Claude" CssClass="menu-item" IconCssClass="icon weather-icon"></DxMenuItem>
                               <DxMenuItem NavigateUrl="/files" Text="Files" CssClass="menu-item" IconCssClass="icon doc-icon"></DxMenuItem>
                               <DxMenuItem NavigateUrl="/upload" Text="Upload" CssClass="menu-item" IconCssClass="icon grid-icon"></DxMenuItem>
                               <DxMenuItem NavigateUrl="/prompts" Text="Prompts" CssClass="menu-item" IconCssClass="icon cards-icon"></DxMenuItem>
                               <DxMenuItem NavigateUrl="/messages" Text="Messages" CssClass="menu-item" IconCssClass="icon counter-icon"></DxMenuItem>
                               <DxMenuItem NavigateUrl="/ragdata" Text="RagData" CssClass="menu-item" IconCssClass="icon doc-icon"></DxMenuItem>
                               <AuthorizeView>
                                   <Authorized>
                                        <DxMenuItem NavigateUrl="/account/logout" Text="Logout" CssClass="menu-item" IconCssClass="icon exit-icon"></DxMenuItem>
                                   </Authorized>
                                   <NotAuthorized>
                                       <DxMenuItem NavigateUrl="/login" Text="Login" CssClass="menu-item" IconCssClass="icon enter-icon"></DxMenuItem>
                                   </NotAuthorized>
                               </AuthorizeView>
                            </Items>
                        </DxMenu>
                    </div>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>

@code {
    // private async Task LogoutClick()
    // {
    //     await SignInManager.SignOutAsync();
    //     NavigationManager.NavigateTo("/", true);
    // }
}
