.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    width: 100%;
    max-width: 400px;
}